<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<body>

<div layout:fragment="content">
    <div class="carousel-container">
        <!-- Carousel 1 -->
        <div id="carousel1" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://draw-fit.com/web/Banner/24WI/men01.jpg" class="d-block w-100" alt="Men 1">
                </div>
                <div class="carousel-item">
                    <img src="https://draw-fit.com/web/Banner/24WI/men02.jpg" class="d-block w-100" alt="Men 2">
                </div>
                <div class="carousel-item">
                    <img src="https://draw-fit.com/web/Banner/24WI/men03.jpg" class="d-block w-100" alt="Men 3">
                </div>
            </div>
        </div>

        <!-- Carousel 2 -->
        <div id="carousel2" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://draw-fit.com/web/Banner/24WI/women01.jpg" class="d-block w-100" alt="Women 1">
                </div>
                <div class="carousel-item">
                    <img src="https://draw-fit.com/web/Banner/24WI/women02.jpg" class="d-block w-100" alt="Women 2">
                </div>
                <div class="carousel-item">
                    <img src="https://draw-fit.com/web/Banner/24WI/women03.jpg" class="d-block w-100" alt="Women 3">
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
